[project]
name = 'Clinical-trial-serious-adverse-event-reporting'
description = ''
authors = []
telemetry = false
cache_dir = './.cache'
requirements = []
[contracts.serious-event-reporter]
path = 'contracts/serious-event-reporter.clar'
clarity_version = 2
epoch = 2.5
[repl.analysis]
passes = ['check_checker']

[repl.analysis.check_checker]
strict = false
trusted_sender = false
trusted_caller = false
callee_filter = false
